DATABASE_URL="postgresql://postgres:password@postgres:5432/routeopt"
PORT=3000
NODE_ENV=development
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjNjODRjZjVkMjk4MjRhN2M4YmRjNGY2NmIxN2IyMjU0IiwiaCI6Im11cm11cjY0In0=
OR_TOOLS_TIME_LIMIT_MS=5000